Repository lemonicefate/ent-clinic-pro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-team, @content-manager, @medical-advisors, @content-team, @cardiology-reviewer, @neurology-reviewer, @pediatrics-reviewer, @emergency-reviewer, @orthopedics-reviewer, @accessibility-expert, @devops-team, @translator-en, @translator-cn, @design-team, @security-team, @pharmacist-reviewer, @surgeon-reviewer, @psychiatrist-reviewer, @psychologist-reviewer, @nutritionist-reviewer, @physiotherapist-reviewer, @nurse-reviewer

修正教育內容頁面的 slug 處理問題
  src/pages/education/index.astro
Owners: @tech-team, @content-manager

全面修正教育內容頁面的 slug 處理問題
  src/pages/education/category/[category].astro
  src/pages/index.astro
Owners: @tech-team, @content-manager

修正首頁語法錯誤
  src/pages/index.astro
Owners: @tech-team, @content-manager

修正 slug 處理的 undefined 錯誤
  src/pages/education/category/[category].astro
  src/pages/education/index.astro
  src/pages/index.astro
Owners: @tech-team, @content-manager

修正教育內容資料存取結構
  src/pages/education/category/[category].astro
Owners: @tech-team, @content-manager

fix: 修正 Serena MCP 伺服器路徑配置
  .kiro/settings/mcp.json
Owners: @tech-team, @content-manager

chore: Ignore Serena toolkit folder
  .gitignore
Owners: @tech-team

fix: move tags field to metadata object in lipid-management config
  src/components/calculators/modules/lipid-management/config.ts
Owners: @tech-team, @design-team

chore: Remove obsolete GitHub Actions workflows
  .github/workflows/advanced-content-validation.yml
  .github/workflows/branch-protection-setup.yml
  .github/workflows/ci.yml
  .github/workflows/content-quality-check.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-preview-deploy.yml
Owners: @tech-team, @devops-team

🎉 Fix: Resolve React component hydration issues for all calculators
  src/components/calculators/common/ErrorBoundary.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/SimpleAmoxicillinClavulanate.tsx
  src/components/calculators/modules/bmi/SimpleBMI.tsx
  src/components/calculators/modules/cha2ds2-vasc/SimpleCHA2DS2VASc.tsx
  src/components/calculators/modules/egfr/SimpleEGFR.tsx
  src/components/calculators/modules/lipid-management/SimpleLipidManagement.tsx
  src/components/calculators/modules/pediatric-antibiotic-calculator/SimplePediatricAntibiotic.tsx
  src/components/test/InlineStyleTest.tsx
  src/components/test/InteractiveTest.tsx
  src/components/test/SimpleBMI.tsx
  src/components/test/SimpleTest.tsx
  src/pages/test-react.astro
  src/pages/tools/amoxicillin-clavulanate-dose.astro
  src/pages/tools/bmi.astro
  src/pages/tools/cha2ds2-vasc.astro
  src/pages/tools/egfr.astro
  src/pages/tools/lipid-management.astro
  src/pages/tools/pediatric-antibiotic-calculator.astro
Owners: @tech-team, @design-team, @content-manager

📚 Add: Comprehensive Calculator Development SOP
  src/components/calculators/CALCULATOR_DEVELOPMENT_SOP.md
Owners: @tech-team, @design-team

清理 CalculatorContainer 未使用的導入和測試文件
  .claude/settings.local.json
  .kiro/settings/mcp.json
  .mcp.json
  debug-module-loader.js
  src/calculators/specialties/UNIFIED_CALCULATOR_API.md
  src/components/calculators/modules/amoxicillin-clavulanate-dose/AmoxicillinClavulanateForm.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/AmoxicillinClavulanateResults.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/calculator.ts
  src/components/calculators/modules/amoxicillin-clavulanate-dose/config.ts
  src/components/calculators/modules/amoxicillin-clavulanate-dose/index.tsx
  src/components/calculators/modules/pediatric-antibiotic-calculator/PediatricAntibioticForm.tsx
  src/components/calculators/modules/pediatric-antibiotic-calculator/PediatricAntibioticResults.tsx
  src/components/calculators/modules/pediatric-antibiotic-calculator/calculator.ts
  src/components/calculators/modules/pediatric-antibiotic-calculator/config.ts
  src/components/calculators/modules/pediatric-antibiotic-calculator/index.tsx
  src/components/calculators/registry/CalculatorRegistryFixed.ts
  src/components/calculators/registry/ModuleLoaderFixed.ts
  src/components/calculators/registry/StaticCalculatorRegistry.ts
  src/components/calculators/registry/StaticModuleLoader.ts
  src/pages/test-simple.astro
  src/pages/tools/amoxicillin-clavulanate-dose.astro
  src/pages/tools/bmi.astro
  src/pages/tools/cha2ds2-vasc.astro
  src/pages/tools/egfr.astro
  src/pages/tools/lipid-management.astro
  src/pages/tools/pediatric-antibiotic-calculator.astro
  src/pages/tools/plugin-test.astro
  test-results/.last-run.json
  tests/e2e/calculator-cleanup-test.spec.js
  tests/e2e/test-results/e2e-artifacts/.last-run.json
  tests/e2e/tools-navigation-final.spec.js
  tests/e2e/tools-navigation-fix-plan.md
  tests/e2e/tools-navigation-fix-summary.md
  tests/e2e/tools-navigation-robust.spec.js
  tests/e2e/tools-navigation-simplified.spec.js
  tests/e2e/tools-navigation.spec.js
Owners: @tech-team, @content-manager, @content-team, @design-team

清理和更新 Kiro specs 文件
  .kiro/specs/SPECS_CLEANUP_SUMMARY.md
  .kiro/specs/archived/calculator-architecture-refactor/COMPLETED.md
  .kiro/specs/archived/calculator-architecture-refactor/design.md
  .kiro/specs/archived/calculator-architecture-refactor/requirements.md
  .kiro/specs/archived/calculator-architecture-refactor/tasks.md
  .kiro/specs/archived/modular-medical-calculators/COMPLETED.md
  .kiro/specs/archived/modular-medical-calculators/design.md
  .kiro/specs/archived/modular-medical-calculators/requirements.md
  .kiro/specs/archived/modular-medical-calculators/tasks.md
  .kiro/specs/calculator-navigation-hydration-fix/design.md
  .kiro/specs/calculator-navigation-hydration-fix/requirements.md
  .kiro/specs/calculator-navigation-hydration-fix/tasks.md
  .kiro/specs/health-education-publishing-sop/requirements.md
  .kiro/specs/project-structure-unification/design.md
  .kiro/specs/project-structure-unification/requirements.md
  .kiro/specs/three-calculator-migration/requirements.md
  .kiro/specs/unified-calculator-architecture/PROGRESS_SUMMARY.md
Owners: @content-team

移除 BMI 計算機頁面中的 React 組件測試區域
  src/pages/tools/bmi.astro
Owners: @tech-team, @content-manager

完全移除所有彈出式視窗，提升用戶體驗
  src/layouts/BaseLayout.astro
  src/pages/admin/errors.astro
  src/pages/admin/performance-analytics.astro
  src/pages/recommendations.astro
  src/pages/reviewer-dashboard.astro
  src/utils/error-monitoring.ts
  template-page/amoxicillin-dose-calculator.html
Owners: @tech-team, @content-manager

修復 Vite 動態導入警告
  src/components/calculators/registry/ModuleLoader.ts
Owners: @tech-team, @design-team

清理計算機組件，優化模組化結構
  src/components/calculators/BMIDashboard.tsx
  src/components/calculators/CHA2DS2VAScDashboard.stories.tsx
  src/components/calculators/CHA2DS2VAScDashboard.tsx
  src/components/calculators/EGFRDashboard.stories.tsx
  src/components/calculators/EGFRDashboard.tsx
  src/components/calculators/registry/CalculatorRegistryFixed.ts
  src/components/calculators/registry/ModuleLoaderFixed.ts
  src/components/calculators/registry/StaticCalculatorRegistry.ts
  src/components/calculators/registry/StaticModuleLoader.ts
Owners: @tech-team, @design-team

重構 Amoxicillin/Clavulanate 劑量計算機
  .kiro/settings/mcp.json
  src/components/calculators/common/CalculatorContainer.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/AmoxicillinClavulanateForm.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/AmoxicillinClavulanateResults.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/calculator.ts
  src/components/calculators/modules/amoxicillin-clavulanate-dose/config.ts
  src/pages/tools/amoxicillin-clavulanate-dose.astro
Owners: @tech-team, @content-manager, @design-team

test: 完成所有計算機的 Playwright 測試驗證
  .kiro/settings/mcp.json
  src/components/calculators/common/CalculatorContainer.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/AmoxicillinClavulanateForm.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/AmoxicillinClavulanateResults.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/calculator.ts
  src/components/calculators/modules/amoxicillin-clavulanate-dose/config.ts
  src/components/calculators/modules/amoxicillin-clavulanate-dose/index.tsx
  src/components/calculators/registry/CalculatorRegistry.ts
  src/components/calculators/registry/ModuleLoader.ts
  src/components/calculators/types/config.ts
  src/components/calculators/types/index.ts
Owners: @tech-team, @content-manager, @design-team

feat: 優化 amoxicillin-clavulanate-dose 計算機用戶體驗
  src/components/calculators/modules/amoxicillin-clavulanate-dose/AmoxicillinClavulanateForm.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/AmoxicillinClavulanateResults.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/calculator.ts
Owners: @tech-team, @design-team

feat: 重構 amoxicillin-clavulanate-dose 計算邏輯和用戶界面
  src/components/calculators/modules/amoxicillin-clavulanate-dose/AmoxicillinClavulanateResults.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/calculator.ts
Owners: @tech-team, @design-team

feat: 優化 amoxicillin-clavulanate-dose 藥物比例計算邏輯
  src/components/calculators/modules/amoxicillin-clavulanate-dose/calculator.ts
Owners: @tech-team, @design-team

feat: 改進藥物總顆數顯示為並排卡片設計
  .kiro/settings/mcp.json
  src/components/calculators/modules/amoxicillin-clavulanate-dose/AmoxicillinClavulanateResults.tsx
  src/components/calculators/modules/amoxicillin-clavulanate-dose/calculator.ts
Owners: @tech-team, @content-manager, @design-team

fix: 移除重複的計算器標題顯示
  src/components/calculators/common/CalculatorContainer.tsx
Owners: @tech-team, @design-team

feat: 移除頂部導航欄中的流程圖和決策樹按鈕
  src/calculators/specialties/pediatrics/amoxicillin-clavulanate-dose/config.json
  src/components/layout/Navigation.astro
Owners: @tech-team, @content-manager, @design-team

.github/CODEOWNERS:

# 🏥 醫療衛教平台程式碼擁有者設定
# 此檔案定義了不同檔案和目錄的審核者
# 當 PR 涉及這些檔案時，會自動指派相應的審核者

# 全域預設審核者
* @tech-team @content-manager

# 醫療內容審核
# 所有衛教內容都需要醫療專業審核
src/content/education/ @medical-advisors @content-team

# 專科特定內容審核
src/content/education/*cardiology* @cardiology-reviewer @medical-advisors
src/content/education/*neurology* @neurology-reviewer @medical-advisors  
src/content/education/*pediatrics* @pediatrics-reviewer @medical-advisors
src/content/education/*emergency* @emergency-reviewer @medical-advisors
src/content/education/*orthopedics* @orthopedics-reviewer @medical-advisors

# 醫療專科配置檔案
src/content/medical-specialties/ @medical-advisors @content-manager @tech-team

# 內容模板和配置
src/content/templates/ @content-team @medical-advisors
src/content/config.ts @tech-team @content-manager

# CMS 配置和管理介面
public/admin/ @tech-team @content-manager
public/admin/config.yml @tech-team @content-manager @medical-advisors

# 品質檢查工具
scripts/medical-terminology-checker.js @medical-advisors @tech-team
scripts/accessibility-validator.js @accessibility-expert @tech-team
scripts/readability-analyzer.js @content-team @tech-team
scripts/reference-format-checker.js @medical-advisors @content-team @tech-team
scripts/quality-check-runner.js @tech-team @content-manager

# GitHub 工作流程和自動化
.github/ @tech-team @devops-team
.github/workflows/ @tech-team @devops-team
.github/PULL_REQUEST_TEMPLATE/ @content-manager @tech-team

# 系統配置檔案
astro.config.mjs @tech-team
package.json @tech-team
tsconfig.json @tech-team
.markdownlint.json @content-team @tech-team

# 文件和指南
*.md @content-team
README.md @tech-team @content-manager
QUALITY_CHECKS.md @tech-team @medical-advisors @content-team
CMS_SETUP.md @tech-team @content-manager
CMS_EDITING_GUIDE.md @content-team @medical-advisors

# 多語言內容
src/content/education/**/zh-tw/ @content-team @medical-advisors
src/content/education/**/en/ @content-team @medical-advisors @translator-en
src/content/education/**/zh-cn/ @content-team @medical-advisors @translator-cn

# 圖片和媒體檔案
public/images/ @content-team @design-team
src/assets/ @design-team @tech-team

# 樣式和設計
src/styles/ @design-team @tech-team
src/components/ @tech-team @design-team

# 安全性相關檔案
.env.example @tech-team @security-team
.gitignore @tech-team

# 部署和基礎設施
cloudflare.json @devops-team @tech-team
netlify.toml @devops-team @tech-team

# 特殊審核要求
# 涉及藥物資訊的內容需要藥師審核
src/content/education/**/*medication* @pharmacist-reviewer @medical-advisors
src/content/education/**/*drug* @pharmacist-reviewer @medical-advisors
src/content/education/**/*prescription* @pharmacist-reviewer @medical-advisors

# 涉及手術或侵入性治療的內容需要專科醫師審核
src/content/education/**/*surgery* @surgeon-reviewer @medical-advisors
src/content/education/**/*operation* @surgeon-reviewer @medical-advisors
src/content/education/**/*procedure* @medical-advisors

# 涉及兒童健康的內容需要小兒科醫師審核
src/content/education/**/*child* @pediatrics-reviewer @medical-advisors
src/content/education/**/*infant* @pediatrics-reviewer @medical-advisors
src/content/education/**/*baby* @pediatrics-reviewer @medical-advisors

# 涉及心理健康的內容需要精神科醫師或心理師審核
src/content/education/**/*mental* @psychiatrist-reviewer @psychologist-reviewer @medical-advisors
src/content/education/**/*depression* @psychiatrist-reviewer @medical-advisors
src/content/education/**/*anxiety* @psychiatrist-reviewer @medical-advisors

# 緊急醫療內容需要急診科醫師審核
src/content/education/**/*emergency* @emergency-reviewer @medical-advisors
src/content/education/**/*first-aid* @emergency-reviewer @medical-advisors
src/content/education/**/*cpr* @emergency-reviewer @medical-advisors

# 營養相關內容需要營養師審核
src/content/education/**/*nutrition* @nutritionist-reviewer @medical-advisors
src/content/education/**/*diet* @nutritionist-reviewer @medical-advisors
src/content/education/**/*food* @nutritionist-reviewer @medical-advisors

# 復健相關內容需要物理治療師審核
src/content/education/**/*rehabilitation* @physiotherapist-reviewer @medical-advisors
src/content/education/**/*physical-therapy* @physiotherapist-reviewer @medical-advisors
src/content/education/**/*exercise* @physiotherapist-reviewer @medical-advisors

# 護理相關內容需要護理師審核
src/content/education/**/*nursing* @nurse-reviewer @medical-advisors
src/content/education/**/*care* @nurse-reviewer @medical-advisors
src/content/education/**/*wound* @nurse-reviewer @medical-advisors
